/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* @category   BSS
* @package    Bss_QuoteExtension
* @author     Extension Team
* @copyright  Copyright (c) 2021 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
.quoteextension-quote-index {
	#shopping-cart-table {
		thead {
			tr {
				th {
					color: #2b2b2b;
					font-weight: 400;
					font-size: 16px;
					text-align: center;
					border: 1px solid #eaeaea;
					vertical-align: middle;
					padding: 14px 30px 11px;
					border-bottom: none;
				}
			}
		}
		tbody {
			border-top: 1px solid #eaeaea;
			tr {
				td {
					vertical-align: middle;
					border: 1px solid #eaeaea;
					padding: 25px 15px;
					text-align: center;
					border-bottom: none !important;
					border-top: none !important;
				}
			}
		}
	}
	.modal-inner-wrap {
		background:#fff;
	}
	.modal-content {
		box-shadow: none;
		max-height: 400px;
		overflow: auto;
		padding:20px;
	}
}
.quoteextension-quote-index #shopping-cart-table tbody tr.item-actions td > .actions-toolbar > a {
	color: #6c6c6c;
	height: 40px;
	font-size: 13px;
	min-width: 40px;
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #e6e6e6;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.quoteextension-quote-index #shopping-cart-table tbody tr td.col.qty .control.qty input {
	color: #4d4d4d;
	font-size: 14px;
	height: 40px;
	margin-bottom: 0;
	text-align: center;
	margin: 0 auto;
	width: 100px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
}
.quoteextension-quote-index #block-shipping,
.quoteextension-quote-index #block-shipping-method,
.quoteextension-quote-index .shipping-address-item,
{
	margin-bottom:20px;
}
.quoteextension-quote-index .table-quote-checkout-shipping-method tbody tr td {
	padding: 10px 20px;
}
.quoteextension-quote-index .shipping .addresses {
	margin-bottom: 15px;
}
.quoteextension-quote-index #shopping-cart-table tbody:last-child {
	border-bottom: 1px solid #eaeaea;
}
.quoteextension-quote-index .shopping-cart-bottom .cart-totals {
	margin-top: 40px;
	position: relative;
	padding-top: 21px;
	border: 1px solid #eaeaea;
}
.quoteextension-quote-index .shopping-cart-bottom .cart-totals .table.totals tbody tr td,
.quoteextension-quote-index .shopping-cart-bottom .cart-totals .table.totals tbody tr th {
	font-size: 14px;
	vertical-align: middle;
	background: none !important;
	font-weight: 400;
	color: #969696;
	border: none;
	padding: 0 15px 20px;
}
.quoteextension-quote-index tbody tr td.col.item .product-item-photo {
	display: block;
	float: left;
	overflow: hidden;
	width: 120px;
}
.quoteextension-quote-index #shopping-cart-table tbody tr td.col.item .product-item-details {
	float: left;
	vertical-align: top;
	margin-left: 20px;
	width: calc(~'100% - 153px');
	padding-top: 22px;
}
.quoteextension-quote-index #shopping-cart-table tbody tr.item-actions td {
	padding: 0 0 25px;
	text-align: left;
}
.quoteextension-quote-index #shopping-cart-table tbody tr.item-actions td > .actions-toolbar {
	padding: 15px 33px 0;
	border-top: 1px dotted #ddd;
}
.product-info-main .product-add-form .box-tocart .action.toquote {
	font-size: 13px;
	width: auto;
	padding: 0 34px;
	background-color: #28a6cc;
	border: 1px solid #56cfe1;
	color: #fff;
	border-radius: 40px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	margin:10px 0 0 0;
	float: none;
	&:hover {
		background-color: #484a7d;
		background-image: linear-gradient(to bottom right, #0e1271 , #484a7d);
		border-color: #484a7d;
	}
}

.block-miniquote {
	.block-content {
		>.actions {
			>.primary {
				.action.primary {
					line-height: 2.2rem;
					padding: 9px 17px;
					font-size: 1.4rem;
					display: block;
					width: 100%;
					text-align: center;
					border: 2px solid #222;
					background-color: #222;
					color: #fff;
				}
				margin: 0 10px 15px;
			}
			margin-top: 15px;
			>.secondary {
				text-align: center;
				padding: 5px 10px;
			}
			.paypal-logo {
				margin-top: 15px;
				text-align: center;
			}
		}
	}
	.items-total {
		float: left;
		margin: 0 10px;
		.count {
			font-weight: 700;
		}
	}
	.subtotal {
		margin: 0 10px;
		text-align: right;
		.label {
			&:after {
				content: ': ';
			}
		}
	}
	.amount {
		.price-wrapper {
			&:first-child {
				.price {
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
	}
	.subtitle {
		display: none;
	}
	.subtitle.empty {
		display: block;
		font-size: 14px;
		padding: 30px 0 20px;
		text-align: center;
	}
	.text.empty {
		text-align: center;
	}
	.block-category-link {
		margin: 15px 0 0;
		text-align: center;
	}
	.block-product-link {
		margin: 15px 0 0;
		text-align: center;
	}
	.block-cms-link {
		margin: 15px 0 0;
		text-align: center;
	}
	.block-banners {
		margin: 15px 0 0;
		text-align: center;
	}
	.paypal {
		display: block;
	}
}
.history-log {
	.item-log {
		display: none;
	}
}
#btn-miniquote-close {
	display:none;
}
.miniquote-wrapper {
	display: inline-block;
	position: relative;
	float: right;
	padding-right:0!important;
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.ui-dialog {
		position: absolute;
		right: 0;
	}
	.details-qty.qty {
		input {
			width:40px;
		}
	}
	.product-item {
		.product.actions {
			opacity: 1;
			visibility: initial;
		}
	}
	.action.showquote {
		display: block;
		text-decoration: none;
		text-align: center;

		&:hover {
			text-decoration: none;
		}

		&:active {
			&:before {
				content: none;
			}
		}
		img{
			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			color: #fff;
			height: 24px;
			max-width: 24px;
			line-height: 24px;
			border-radius: 2px;
			margin: 3px 0 0;
			min-width: 18px;
			overflow: hidden;
			padding: 0 3px;
			text-align: center;
			white-space: normal;
		}
		.counter.qty {
			vertical-align: top;
			background: #ff5501;
			color: #fff;
			height: 24px;
			line-height: 24px;
			border-radius: 2px;
			display: inline-block;
			margin: 3px 0 0;
			min-width: 18px;
			overflow: hidden;
			padding: 0 3px;
			text-align: center;
			white-space: normal;
			.loader {
				>img {
					max-width: 24px;
				}
			}
		}
		.counter.qty.empty {
			display: none;
		}
		.text {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		.counter-label {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		&:before {
			content: none;
		}
	}
	.action.showquote.active {
		display: inline-block;
		text-decoration: none;
	}
	.block-miniquote {
		margin: 0;
		padding: 0;
		list-style: none none;
		background: #fff;
		border: 1px solid #bbb;
		margin-top: 4px;
		min-width: 100%;
		z-index: 100;
		box-sizing: border-box;
		display: none;
		top: 100%;
		box-shadow: 0 3px 3px rgba(0,0,0,0.15);
		padding: 25px 20px;
		right: 0;
		width: 320px;
		li {
			margin: 0;
			&:hover {
				cursor: pointer;
			}
		}
		&:before {
			border-bottom-style: solid;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			width: 0;
			border: 6px solid;
			border-color: transparent transparent #fff transparent;
			z-index: 99;
			left: 10px;
			top: -12px;
			left: auto;
			right: 26px;
		}
		&:after {
			border-bottom-style: solid;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			width: 0;
			border: 7px solid;
			border-color: transparent transparent #bbb transparent;
			z-index: 98;
			left: 9px;
			top: -14px;
			left: auto;
			right: 25px;
		}
		.block-title {
			display: none;
		}
	}
	.product {
		.actions {
			float: right;
			margin: -24px 0 0;
			position: relative!important;
			z-index: 1!important;
			top:0!important;
			left:auto!important;
			>.primary {
				display: inline;
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
			>.secondary {
				display: inline;
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
	}
	.action.close {
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		background-image: none;
		background: none;
		-moz-box-sizing: content-box;
		border: 0;
		box-shadow: none;
		line-height: inherit;
		margin: 0;
		padding: 0;
		text-shadow: none;
		font-weight: 400;
		display: inline-block;
		text-decoration: none;
		&:focus {
			background: none;
			border: none;
		}
		&:active {
			background: none;
			border: none;
			&:before {
				color: inherit;
			}
		}
		&:hover {
			background: none;
			border: none;
			&:before {
				color: inherit;
			}
		}
		>span {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		&:before {
			-webkit-font-smoothing: antialiased;
			font-size: 16px;
			line-height: 16px;
			color: #8f8f8f;
			content: '\e616';
			font-family: 'luma-icons';
			margin: 0;
			vertical-align: top;
			display: inline-block;
			font-weight: normal;
			overflow: hidden;
			speak: none;
			text-align: center;
		}
	}
	.action.close.disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: .5;
	}
	.action.close[disabled] {
		cursor: not-allowed;
		pointer-events: none;
		opacity: .5;
	}
	.miniquote-widgets {
		margin-top: 15px;
	}
}
.miniquote-wrapper.active {
	overflow: visible;
	.block-miniquote {
		display: block;
		position: absolute;
	}
}
fieldset[disabled] {
	.miniquote-wrapper {
		.action.close {
			cursor: not-allowed;
			pointer-events: none;
			opacity: .5;
		}
	}
	.opc-estimated-wrapper {
		.miniquote-wrapper {
			button.action.showquote {
				cursor: not-allowed;
				pointer-events: none;
				opacity: .5;
			}
		}
	}
}
.opc-estimated-wrapper {
	.miniquote-wrapper {
		button.action.showquote {
			background-image: none;
			background: none;
			-moz-box-sizing: content-box;
			border: 0;
			box-shadow: none;
			line-height: inherit;
			margin: 0;
			padding: 0;
			text-decoration: none;
			text-shadow: none;
			font-weight: 400;
			&:focus {
				background: none;
				border: none;
			}
			&:active {
				background: none;
				border: none;
			}
			&:hover {
				background: none;
				border: none;
			}
			&:before {
				color: #333;
			}
		}
		button.action.showquote.disabled {
			cursor: not-allowed;
			pointer-events: none;
			opacity: .5;
		}
		button.action.showquote[disabled] {
			cursor: not-allowed;
			pointer-events: none;
			opacity: .5;
		}
	}
}
.opc-block-summary {
	.miniquote-items-wrapper {
		margin: 0 -15px 0 0;
		max-height: 370px;
		padding: 15px 15px 0 0;
		border: 0;
	}
}
.quote-summary {
	.paypal {
		display: block;
	}
}
.shipping-policy-block.field-tooltip {
	.field-tooltip-action {
		span {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}
.box-tocart {
	.action.toquote {
		line-height: 2.2rem;
		padding: 14px 17px;
		font-size: 1.8rem;
	}
}
.quoteextension-quote-index {
	.opc-wrapper {
		width: 100%;
		padding-right: 0;
		margin-top:15px;
		.shipping-address-item {
			width: 100%;
		}
	}
	.opc-wrapper {
		.checkout-methods-items {
			text-align: right;
		}
	}
	.cart-summary {
		position: static;
	}
	#block-shipping-method {
		tr.row {
			border-bottom: 1px solid #cccccc;
		}
		tr.row:last-child {
			border-bottom: none;
		}
	}
	.grand {
		.mark, .amount {
			font-size: 1.8rem;
		}
	}
}
.log-version {
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}
.ajax-quote-model {
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.ajax-modal-content {
	background-image: url('../Bss_QuoteExtension/images/ajax-loading.gif');
	background-repeat: no-repeat;
	height: 70px;
	width: 70px;
	margin: auto;
}
.quote-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1.7rem;
	padding: 1.4rem 0 .5rem;
	margin-top: 25px;
	span {
		color: #41362f;
		font-weight: 400;
		line-height: 1.2;
		font-size: 2.5rem;
	}
}
.quote-category {display:none}
.order-date {
	margin: 5px 0px 0px 0px !important;
}
.sub-user-email,
.sub-user-name,
.sub-user-role {
    font-size: 16px;
}
.quote-expiry {
	font-size: 16px;
}
.quote-submit {
	margin-top: 20px;
}
.quote-title.quote-date {
	margin-top: -15px;
}
.quoteextension-quote-view {
	.actions {
		.quote-button {
			display: inline-block;
			padding: 5px;
		}
	}
	.admin__table-primary {
		th {
			padding: 12px 0px 12px 12px !important;
			text-align: left;
			background-color: #e3e3e3;
			border-right: 1px solid white;
		}
	}
	.quote-items {
		.cart.table-wrapper {
			thead {
				th.col {
					padding: 12px 0px 12px 12px !important;
					background-color: #e3e3e3;
					border-right: 1px solid white;
					text-align: center;
				}
			}
			tbody {
				.item-info {
					td {
						text-align: center;
					}
				}
			}
		}
	}
	.admin__field-control {
		margin-bottom: 25px;
	}
	div.primary {
		clear: both;
	}
	.edit-order-table {
		tbody {
			border-bottom: 1px solid #e3e3e3;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
	.opc-wrapper {
		width: 100%;
	}
}
.comment-quote {
	font-weight: bold;
	font-size: 16px;
}
.quote-category {
	margin-top: 10px;
	width: auto;
	button {
		font-size: 1.3rem !important;
		padding: 5px 10px;
		line-height: 13px;
		width: auto;
	}
}
.products-grid {
	.product-item-info {
		.quote-category {
			position: relative;
			z-index: 3;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			margin:0 0 10px 0;
			.toquote {
				color: #222;
				line-height: 40px;
				white-space: nowrap;
				background-color: #fff;
				padding: 0 25px;
				text-align: center;
				border: none;
				border-radius: 40px;
				-webkit-border-radius: 40px;
				-moz-border-radius: 40px;
				-o-border-radius: 40px;
				&:hover {
					background-color: #484a7d;
					background-image: linear-gradient(to bottom right, #0e1271 , #484a7d);
					border-color: #484a7d;
					color:#fff;
				}
			}
		}
		.product-top {
			&:hover {
				.quote-category {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.wishlist-index-index {
	.products-grid.wishlist {
		.product-item {
			.fieldset {
				.product-item-actions {
					width: 100%;
					display: inline-block;
					.actions-primary {
						width: 100%;
						.action.tocart {
							width: 100%;
						}
					}
					.quote-category {
						width: 100%;
						margin-top: 0;
						.action.toquote {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
.action.primary.quote-cancel, .action.primary.quote-move-print, .action.primary.quote-checkout {
	width: 200px;
	height: 40px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	}
	.action.primary.quote-cancel {
	background: #FFF;
	background: #bc3737;
	border: 1px solid #bc3737;
	}
	.action.primary.quote-move-print {
	color: #FFF;
	background: #8bbc37;
	border: 1px solid #8bbc37;
	}
	.action.primary.quote-checkout {
	background: #d2691e;
	border: 1px solid #d2691e;
	}
	.checkout-cart-index {
	.form-cart {
		.copytoquote {
			margin-top:15px;
		}
	}
	}
	.quoteextension-quote-configure {
	.box-tocart {
		.action.toquote {
			margin-bottom: 10px;
		}
	}
}
@media only screen and (min-width: 1370px) {
	.product-info-main .product-add-form .box-tocart .action.toquote {
		position: absolute;
		left: 42%;
		margin-top: 12px;
		transform: translateX(-42%);
	}
}
@media (max-width: 640px) {
	.miniquote-items .product-item-details {
		 padding-left: 88px;
	}
	 .miniquote-items .product >.product-item-photo {
		 margin-left: 0;
	}
	 .miniquote-items .product >.product-image-container {
		 margin-left: 0;
	}
	 #product-addtoquote-button {
		 font-size: 1.3rem;
	}
	 .miniquote-wrapper {
		 margin-top: 0px;
	}
	 .miniquote-wrapper .block-miniquote {
		 width: 290px;
	}
	 .miniquote-wrapper .block-miniquote:before {
		 right: 6px;
	}
	 .miniquote-wrapper .block-miniquote:after {
		 right: 6px;
	}
	 .box-tocart .action.toquote {
		 width: 100%;
	}
	 .quoteextension-quote-view .quote-items .col.qty {
		 float: right;
		 text-align: center;
	}
	 .quoteextension-quote-view .quote-items .col.price {
		 text-align: center;
	}
}
@media (max-width: 767px) {
	.checkout-cart-index .form-cart {
		 display: table;
		 width: 100%;
	}
	 .checkout-cart-index .form-cart .copytoquote {
		 float: none;
		 display: block;
		 margin: 15px auto;
		 width:100%;
	}
	 .miniquote-wrapper {
		 margin: 0 0 0 10px;
	}
	.header {
		.table-icon-menu {
			.minicart-wrapper {
				padding-left: 5px;
			}
		}
	}
	.quoteextension-quote-index {
		.modal-inner-wrap {
			width:90%;
			.modal-title {
				font-size:30px;
			}
			.action-save-address {
				margin-bottom: 10px;
			}
		}
		#shopping-cart-table {
			.cart.item {
				border: 1px solid #eaeaea;
				display: block;
				padding: 0;
				.item-info {
					.col.item {
						position: relative;
						font-size: 13px;
						display: flex;
						align-items: center;
						padding: 12px 0 !important;
						width: 100%;
						border: none;
					}
				}
			}
			thead {
				display:none;
			}
			tbody {
				tr {
					display: block;
					td {
						display: block;
						border: none;
						width: 100%;
						padding: 12px 0 !important;
						border-bottom: 1px dashed rgba(129, 129, 129, 0.2) !important;
						text-align: center;
					}
				}
			}
			.cart.item {
				+ .cart.item {
					border-top: none;
				}
			}
		}
		.methods-shipping {
			overflow-x: auto;
		}
	}

}
@media only screen and (max-width: 479px) {
	.miniquote-wrapper {
		.block-miniquote {
			width: 290px;
		}
	}
	.header {
		.table-icon-menu {
			.minicart-wrapper {
				padding-left: 0px;
			}
		}
	}
}
@media all and (min-width: 768px) {
	.miniquote-wrapper {
		margin-left: 13px;
		.block-miniquote {
			right: -15px;
			width: 390px;
		}
		.action.edit {
			&:before {
				font-size: 16px;
				line-height: inherit;
			}
		}
	}
	.box-tocart {
		.action.toquote {
			margin-bottom: 0;
			margin-right: 1%;
			width: 49%;
		}
	}
}