/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_HidePrice
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

  .callforprice_text {
    font-size: 20px
  }
  .box-tocart, .product-add-form {
  	#bss_configurablegridview {
  		.hide_price_text {
  			font-size: 14px;
  		}
  	}
  	.hide_price_text {
  		font-size: 24px;
  	}
  }
	.products-grid {
		.product-item-info {
			.product-top:hover {
				.hide_price_text {
					opacity: 1;
					visibility: visible;

				}
			}
			.hide_price_text {
				position: relative;
				bottom: 0px;
				text-align: center;
				z-index: 3;
				opacity: 0;
				visibility: hidden;
				margin-top: 0;
				width:100%;
				padding: 5px;
				line-height: 13px;
				text-align: center;
				a {
					color: #000;
				}
			}
		}
	}

