/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_B2bRegistration
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
.field.date,
.field-dob {
    ._has-datepicker {
        margin-right: 10px;
        width: calc(~'100% - 43px');
    }
}
._has-datepicker~.ui-datepicker-trigger>span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
._has-datepicker~.ui-datepicker-trigger {
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: block;
    text-decoration: none;
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}
.page-header .panel > .header.links {
    display: flex;
}
.page-header .panel .bss-b2b-customer {
    order: 4;
}
.customer-dob #dob-error {
    width: 100%;
    float: left;
    margin: 10px 0 20px 0;
}
.block-authentication {
    .block-new-customer {
        .actions-toolbar {
            div.primary {
                float: none;
                width: 100%;
                display: table;
                a {
                    float: right;
                }
            }
            .b2b-button {
                margin-top: 10px;
            }
        }
    }
}
.form-create-account {
    .fieldset-fullname {
        .fields {
            .field {
                display: table-cell;
                float:none!important;
                &+.field {
                    padding-left:10px;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .block-authentication {
        .actions-toolbar {
            .primary {
                width: 100%;
            }
        }
    }
}