/* Layered Features */
input,
textarea,
select {
	&:not([disabled]) {
		&:focus {
			box-shadow: none;
		}
	}
}
.panel {
    &.wrapper {
        display: block;
    }
}
.bss-fastorder-link {
	padding: 0 0 0 15px;
	display: table-cell;
	vertical-align: middle;
}
.permission-fast-order {
    text-align: center;
}
.hidden, .hide {
    display: none;
}
.content-link-fast.dropdown-toplinks .dropdown-menu {
	right:auto!important;
}
.bss-fastorder-row-edit,
.bss-fastorder-row-delete {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10px;
    button {
        background-image: url('../Bss_FastOrder/images/icon.png');
        padding: 1px 8px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        margin: 0 2px;
        display: none;
    }
}
.bss-fastorder-row-delete {
    button {
        background-position: -18px 0px;
        &:hover {
            background-color:transparent!important;
        }
    }
}
.header .dropdown-toplinks .dropdown-menu li.current strong{
	padding: 12px 15px 8px;
	display: block;
}
#bss-content-option-product {
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-left:0;
    margin-top:0;
    width: 380px;
    min-height: 100px;
	max-height: 420px;
	background-color: #fff;
	text-align: center;
	padding: 10px;
	box-shadow: 0 0 10px -5px #999999;
	overflow-y: auto !important;
	z-index: 9999991;
	border: 1px solid #e6e6e6 !important;
    .bss-box-button {
        margin-top: 0;
        padding-top: 5px;
    }
    .bss-swatch-attribute {
        text-align:left;
        .bss-swatch-attribute-label {
            &:after {
                content: '*';
                color: #f00;
                position: relative;
                font-weight: bold;
                font-size: 1em;
            }
        }
        &.size,
        &.color {
            .bss-swatch-attribute-label {
                &:before {
                    display:none
                }
            }
        }
    }

    .price-box {
        .final-price {
            .price {
                color:#ff0000;
                font-weight:600;
            }
        }
        .price-including-tax {
            .price {
                color:#ff0000;
                font-weight:600;
            }
        }
        .excluding-tax {
            .price {
                font-weight:600;
            }
        }
    }
    .product-name {
        color:#111;
    }
    .photo {
        max-height:150px;
        min-height:141px;
    }
    .next-previous-button {
        .next-previous {
            background-image: url('../Bss_FastOrder/images/icon.png');
            background-color: transparent;
            border: none;
            box-shadow: none;
            &.next {
                background-position: -42px 30px;
            }
            &.previous {
                background-position: -22px 30px;
            }
        }
    }
}
.configu-table {
    .content-config {
        max-height:200px;
    }
}
#bss-content-option-product {
    #bss-fastorder-form-option {
        .bss-product-option {
            .total-area {
                .qty-detail {
                    max-height: 50px;
                    overflow: scroll;
                    .content-detail-qty {
                        padding-bottom: 0;
                        margin-bottom:0;
                    }
                    #qty-selected-detail-table {
                        td {
                            padding:0 15px;
                        }
                    }
                }
            }
        }
    }
}
.bss-configurable-grid-view-popup {
    .configu-table {
        padding-top:15px;
    }
    .configurable-product-table {
        .price-box {
            margin:0!important;
        }
        thead {
            tr {
                th {
                    z-index: 999;
                    text-align: center;
                }
            }
        }
    }
    .reset-configurablegridview {
        z-index: 999;
        right: 20px;
    }
}
.b-mini-fastorder {
    padding-right: 40rem;
}
.content-search-fastorder {
    ul {
        li {
            span {
                display:block;
                font-size:13px;
                color:#333;
            }
        }
    }
}
.bss-configurable-grid-view-popup {
    &.bss-content-option-product {
        max-width: 490px;
        width: 90%;
        max-height: 567px;
        position: fixed;
        box-sizing: border-box;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin-left:0;
        margin-top:0;
        box-shadow: none;
    }
}
.cms-fast-order {
	.loading-mask {
		background:#d1d1d18f;
	}
	button {
		&:hover {
			background-color:#d7d7d7!important;
			color:#111!important;
		}
	}
	.messages {
		max-width: 1280px;
		margin: 0 auto;
		padding: 20px 10px;
		box-sizing: border-box;
	}
	.bss-fastorder-button {
		box-shadow: none;
		border: none;
		color: #787878;
		padding: 15px 30px;
		border-radius: 25px;
		font-size: 15px;
		background: #f2f2f2;
		margin-right:5px;
	}
	#qty-selected-detail-table {
		border-bottom:1px solid #eee!important;
		td {
			padding:0 40px;
			box-sizing: border-box;
		}
	}
	#bss-total-check-show {
		.qty-total {
			padding-top:20px;
		}
	}

	.cart.table-wrapper {
		.cart>.item {
			position: inherit;
		}
	}

	.page-main {
		max-width:100%;
		padding:0;
		font-weight: 500;
		.page-title-wrapper {
			text-align: center;
			.page-title {
				color: #111111;
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}
		.bss-height-tr {
			position:relative;
		}
		.toolbar {
			max-width:1146px;
			margin: 23px auto;
			padding: 0px 20px;
			#sorter {
				background: transparent;
				border: none;
				padding: 0 10px 0 0px;
				box-shadow: none;
				color:#111;
				font-weight: 600;
			}
			.sorter {
				.sorter-action {
					padding:0;
					border:0;
				}
			}
			.toolbar-sorter {
				margin-top:11px;
			}
			.icon-down {
				background-image: url('../Bss_FastOrder/images/icon.png');
				padding: 0px 5px;
				background-position: 33px 0px;
				position: absolute;
				top: 13px;
				right: 14px;
			}
			.text-toolber {
				border: 2px solid #f2f2f2;
				padding: 5px 45px;
				border-radius: 25px;
				position:relative;
				display: inline-block;
				.sorter-label {
					color: #787878;
					font-weight: normal;
				}
			}
		}
		.panel-content-table {
			max-width:1146px;
			margin: auto;
			padding:0 20px;
			.background-full {
				content: '';
				display: block;
				width: 100%;
				height: 50px;
				position: absolute;
				z-index: -1;
				left: 0;
			}
			.bss-fastorder-multiple-form {
				tr {
					td {
						border: 1px solid #eeeeee;
						box-sizing: border-box;
						border-bottom:none;
						&.bss-fastorder-img,
						&.bss-fastorder-row-name,
						&.bss-fastorder-row-edit-delete {
							border-right:none;
							border-left:none;
						}
					}
					&:last-child {
						td {
							border-bottom: 1px solid #eeeeee;
						}
					}
				}
				tbody {
					tr {
						td {
							&.bss-fastorder-row-edit-delete {
								display: table-cell;
								width:9%;
							}
							&.add-to-line {
								width:27%;
							}
							&.fill-line {
								width:40%;
							}
							&.total-qty-fastorder {
								width:15%;
							}
							&.subtotal-fastorder {
								width:16%;
							}
						}
					}
				}
				tfoot {
					td.subtotal-fastorder {
						.bss-number-sub-total {
							color: #ff0000;
							.total-price-tax {
								color: #111;
							}
						}
					}
				}
			}
		}
	}
	.bss-grouped-popup {
		max-height: 658px!important;
		box-sizing: border-box;
		padding: 0!important;
		max-width:422px!important;
		height: 100%;
		.bss-box-button {
			border-top: 1px solid #f9f9f9;
		}
		.product-name {
			padding-bottom:15px;
		}
		.price-box {
			.price-including-tax {
				.price {
					font-weight: 600;
				}
			}
		}
		.table-wrapper {
			&.grouped {
				margin-bottom:10px;
				max-height: 324px;
				overflow: auto;
				border-top:none!important;
				position: relative;
				margin-left: 0!important;
				margin-right: 0!important;
			}
		}
		table {
			&.grouped {
				.item {
					padding: 13px 10px 13px 30px;
					text-align: left;
				}
				.qty {
					padding-right:30px;
					text-align: left;
				}
				thead {
					background:#f9f9f9;
					tr {
						th {
							font-weight: 600;
							color:#111;
							text-transform: uppercase;
						}
					}
				}
				tr {
					th,
					td {
						border-top:1px solid #f9f9f9;
						border-bottom:none!important;
					}
				}
				tbody {
					tr {
						td {
							display:table-cell!important;
							.product-item-name {
								color:#787878;
								margin: 0;
								font-weight: 600;
							}
							&.qty {
								margin-top:7px;
							}
						}
					}
				}
			}
		}
	}
	.swatch-option {
		width: 46px;
		height: 46px;
		padding: 12px 5px!important;
		border: none;
		border-radius: 50%;
		box-sizing: border-box;
	}
	.swatch-attribute-label,
	.swatch-attribute-selected-option {
		display:none;
	}

	.configurable-product-table {
		thead {
			tr {
				th {
					background:#f9f9f9!important;
					text-transform: uppercase;
					color: #111;
					font-weight: 600;
					padding: 15px 10px;
					border-left: 1px solid #eee;
					border-right: 1px solid #eee;
					z-index:99;
					&:first-child {
						padding-left: 40px;
					}
					&:last-child {
						padding-right:40px;
					}
				}
			}
		}
		tbody {
			tr {
				&:nth-child(even) {
					background:#f9f9f9;
				}
				td {
					&:first-child {
						padding-left: 40px;
					}
					&:last-child {
						padding-right:40px;
					}
					&.qty {
						border: 1px solid #f2f2f2;
						color: #787878;
					}
				}
			}
		}
	}
}
.links {
    &.nav-fastorder-toggle {
        .mini-fast-order {
            cursor: pointer;
        }
        .table-wrapper {
            margin-bottom: 0;
        }
        .mini-fast-order-toggle {
            position: fixed;
            top: 0px;
            right: 0px;
            background: #fff;
            z-index: 99;
            padding: 0;
            margin: 0;
            box-shadow: 1px 1px 12px rgba(146,145,145,.35);
            width: 40rem;
            #bss-fastorder-form {
                table {
                    th {
                        padding: 10px 30px;
                    }
                }
            }
            .panel-content-table {
                .bss-fastorder-multiple-form {
                    tbody {
                        max-height: 330px;
                    }
                }
            }
            .close-mini-fast-order {
                font-size: 20px;
                color: #fff;
                position: absolute;
                right: 15px;
                top: 8px;
                line-height: 20px;
                cursor: pointer;
                z-index: 999;
            }
            #bss-fastorder-form {
                table {
                    thead {
                        .bss-fastorder-row {
                            display:table-row;
                        }
                    }
                    td {
                        padding: 12px 10px;
                        &.bss-fastorder-row-qty {
                            .product_qty {
                                margin: 0 auto;
                                padding: 3px 0;
                            }
                        }
                    }
                    .bss-fastorder-row-edit,
                    .bss-fastorder-row-delete {
                        top: 0px;
                    }
                    .bss-fastorder-row-edit-remove {
                        width:2%;
                    }
                    .bss-fastorder-row-qty {
                        width:4%;
                    }
                }
                .bss-search-input {
                    padding: 20px 22px;
                }
                .bss-fastorder-row-qty {
                    .bss-product-qty-up,
                    .bss-product-qty-down {
                        padding: 0px 0px 10px 0px;
                    }
                }
                tfoot,
                .foot1 {
                    .foot1 {
                        font-size:14px;
                        td {
                            padding: 10px 15px 10px;
                        }
                    }
                    button {
                        font-size: 12px;
                        padding: 10px 12px;
                        &:hover {
                            padding: 10px 12px!important;
                            background-color: #d7d7d7 !important;
                            color: #111 !important;
                        }
                    }
                }
                tfoot {
                    tr {
                        td {
                            &.all-add-button {
                                button {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
                .btn-add-more {
                    background: #f2f2f2;
                    box-shadow: none;
                    border: none;
                    color: #787878;
                    color: #787878;
                    padding: 10px 15px;
                    border-radius: 25px;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.6rem;
                    display: inline-block;
                    vertical-align: top;
                    text-decoration: none;
                    margin-bottom: 14px;
                    margin-right:5px;
                    &:hover {
                        padding: 10px 15px;
                        background-color: #d7d7d7 !important;
                        color: #111 !important;
                    }
                }
                .bss-fastorde-bottom {
                    tr {
                        td {
                            padding: 15px 10px 0px 10px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }
}
.cms-page-view {
	.swatch-option-tooltip {
		z-index: 9999;
	}
}
#bss-fastorder-form {
	.bss-search-bar {
		width: 45%;
		float: left;
		max-width:362px;
		.icon-search-mobile {
			display:none;
		}
		.input-search-fastorder {
			position:relative;
			&:after {
				content: "";
				padding: 10px;
				background-image: url('../Bss_FastOrder/images/icon.png');
				position: absolute;
				top: 20px;
				right: 25px;
				background-position: -2px 22px;
			}
			input {
				background: #f9f9f9;
				border: 2px solid #f2f2f2;
				padding: 27px 30px;
			}
		}
	}
	.bss-search-input {
		max-width: 362px;
		background: #f2f2f2;
		border: none;
		padding: 23px 22px;
		border-radius: 30px;
		color: #787878;
		position: relative;
		&:focus {
			z-index: 2;
		}
		&.template-search2 {
			opacity: 1;
			background: #f2f2f25c!important;
		}
	}
	.bss-fastorder-autocomplete {
		position: relative;
		top: -20px;
	}
	.bss-search-input2 {
		background-image: url('../Bss_FastOrder/images/icon-search.png');
		background-position: 92% center;
		background-repeat: no-repeat;
		background-color:transparent;
		margin-top: 7px;
		border: 2px solid #f2f2f2;
		z-index: 4;
		&:focus {
			z-index: 4;
		}
	}
	.bss-loading {
		background-image: url('../Bss_FastOrder/images/loading.gif')!important;
		background-position: 92% center;
		background-repeat: no-repeat;
		background-size: 25px 25px;
	}
	table {
		thead {
			.bss-fastorder-row {
				display:table;
				width:99.5%;
			}
		}
		th {
			text-align: center;
			color: white;
			text-transform: uppercase;
			font-weight:500;
			padding: 15px 30px;
			&.bss-fastorder-row-name {
				text-align: center;
			}
		}
		td {
			vertical-align: middle;
			text-align: left;
			padding: 20px 10px;
			&.bss-fastorder-row-price {
				color:#ff0000;
				p {
					color: #111;
				}
			}
			&.bss-fastorder-row-qty {
				.product_qty {
					background: #f2f2f2;
					max-width: 91px;
					border-radius: 30px;
					padding: 7px 0;
					text-align: center;
					button {
						border: none;
						box-shadow: none;
						background: transparent;
						color: #d7d7d7;
						&:hover {
							background-color: transparent!important;
							color: #d7d7d7!important;
						}
					}
				}
			}
		}
		.bss-fastorder-row-ref {
			width: 27%;
		}
		.bss-fastorder-row-qty {
			width:13%;
		}
		.bss-fastorder-row-image {
			width:10%;
		}
		.bss-fastorder-row-price {
			width:20%;
		}
		.bss-fastorder-row-name {
			width:21%;
		}
		.bss-fastorder-row-edit-remove {
			width:9%;
		}
		.bss-fastorder-row-name {
			text-align: left;
			.bss-product-name-select {
				.name {
					color: #111111;
				}
			}
			.bss-product-baseprice {
				margin-top:4px;
			}
			ul {
				list-style: none;
				padding-left: 0;
				margin: 0;
				.final-price {
					.price {
						color: #ff0000;
					}
				}
				.bss-price {
					color: #ff0000;
				}
				span.label {
					font-weight: bold;
					position: relative;
				}
			}
		}
	}
	.bss-fastorder-autocomplete {
		.content-search-fastorder {
			max-height: 567px;
			overflow: auto;
			position: absolute;
			background-color: #fff;
			width: 100%;
			max-width:360px;
			text-align: -webkit-auto;
			z-index: 1;
			margin-left: 0px;
			border-left: 2px solid #f2f2f2;
			border-right: 2px solid #f2f2f2;
			border-bottom: 2px solid #f2f2f2;
			padding-top:20px;
			ul {
				max-height: 430px;
				overflow: auto;
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 10px;
				background-color: #ffffff;
			}
			&::-webkit-scrollbar {
				width: 12px;
				background-color: #F5F5F5;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: #f5f5f5;
			}
			ul {
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				li {
					cursor: pointer;
					padding: 10px;
					margin-bottom: 0;
					border-bottom: 1px solid #f9f9f9;
					&.bss-product-selected {
						background:#f9f9f9;
					}
					a {
						text-decoration: none;
						.bss-product-name {
							color: #111;
						}
					}
					img {
						max-width:65px;
					}
					.bss-product-price {
						.bss-price {
							font-weight: 500;
							color: #ff0000;
							&:after {
								clear: both;
								content: '';
							}
						}
						text-align: left;
						margin-top:5px;
						.fastorder-tax {
							color:#787878;
							font-weight:400;
						}
					}
					.bss-product-sku {
						color: #000;
						strong {
							font-weight:100;
						}
						.type {
							&:after {
								content: '#:';
							}
						}
						.bss-ref-part {
							color:#787878;
							font-weight:100;
						}
					}
					.bss-product-info {
						display: table;
						width: 100%;
						.bss-highlight {
							color: #ff0000;
							font-weight: bold;
						}
						.bss-info-left {
							width: 20%;
							display: table-cell;
							vertical-align: top;
						}
						.bss-info-right {
							width: 80%;
							display: table-cell;
							vertical-align: top;
							box-sizing: border-box;
							padding-left: 15px;
							text-align: left;
						}
					}
				}
			}
		}
	}

	.bss-fastorder-autocomplete2 {
		.content-search-fastorder {
			width:100%;
			margin-top:0;
			z-index: 3;
			max-width: 368px;
		}
		.bt-search-template2 {
			text-align: right;
			background: #f9f9f9;
			padding: 15px 0;
			border-top: 1px solid #eeeeee;
			padding-right: 28px;
			button {
				background: #1979c3;
				box-shadow: none;
				border: none;
				color: #fff;
				padding: 8px 25px;
				border-radius: 25px;
				font-size: 15px;
				height: 50px;
				line-height: 15px;
				border: 2px solid #1979C3
			}
			.message {
				color: #ff0000;
			}
		}
		ul {
			li {
				padding:15px 28px 15px 17px!important;
				.bss-product-sku {
					position: relative;
					.check-new {
						width: 26px;
						height: 26px;
						position: absolute;
						right: 0;
						top: -20px;
						input[type=checkbox] {
							visibility: hidden;
							&:checked + label:after {
								opacity: 1;
							}
						}
						.label-check {
							width: 20px;
							height: 20px;
							cursor: pointer;
							position: absolute;
							left: 2px;
							top: 2px;
							background: white;
							border: 2px solid #eee;
							&:after {
								content:'';
								width: 9px;
								height: 5px;
								position: absolute;
								top: 4px;
								left: 4px;
								border: 3px solid #1979c3;
								border-top: none;
								border-right: none;
								background: transparent;
								opacity: 0;
								-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}
	.bss-fastorder-row-image {
		img {
			cursor: pointer;
			max-width: 70px;
		}
	}
	.bss-fastorder-row-qty {
		.qty {
			text-align: center;
			width: 40px;
			border: none;
			background: transparent;
			color: #787878;
			padding:0!important;
		}
		.bss-product-qty-up {
			padding: 2px 0px 5px 0px;
			text-align: center;
		}
		.bss-product-qty-down {
			padding: 0px 0px 5px 0px;
			text-align: center;
		}
	}
	tr {
		td.bss-hide-border {
			border-top: 0;
		}
	}
	tr.bss-row-error {
		td {
			border-top: 0;
			&:first-child {
				border-left: 1px solid #f00;
			}
			&.bss-fastorder-row-price {
				border-right: 1px solid #f00;
			}
		}
		border: 2px solid #ff0000;
		width: ~"calc(100% - 2px)";
	}
	.bss-fastorder-lightbox {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 999;
		display: block;
		top: 0px;
		left: 0px;
		background-color: rgba(53, 53, 53, 0.639216);
		img {
			max-width: 85%;
			max-height: 85%;
			z-index: 1000;
			margin: 4% auto;
			display: block;
		}
	}
	.bss-file-upload {
		margin: 10px 10px 10px 0;
		float: left;
	}
	.bss-sample-csv {
		display:inline-block;
		padding: inherit;
		color: #1979c3;
		font-style: italic;
		line-height: 10px;
		padding-left:5px;
	}
	tfoot {
		tr {
			td {
				&.all-add-button {
					button {
						margin-bottom: 20px;
					}
				}
			}
		}

	}
	tfoot,
	.foot1 {
		background:transparent;
		.foot1 {
			background: #f9f9f9!important;
			color:#111;
			td {
				padding:25px 30px 15px;
				vertical-align: top;
				&.add-to-line {
					vertical-align: top;
				}
			}
		}
		button {
			background: #f2f2f2;
			box-shadow: none;
			border: none;
			color: #787878;
			padding: 10px 25px;
			border-radius: 25px;
			font-size: 15px;
			&.bss-addline {
				color:#111;
				position: relative;
				top: -13px;
			}
			&.tocart {
				color:white;
				display: inherit;
				padding: 8px 25px;
				border: 2px solid #1979C3;
			}
		}
	}
}
.bss-fastorde-bottom {
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	width:100%;
	tr {
		td {
			vertical-align: top!important;
			border:none;
			width:50%;
			padding:29px 0 13px 30px !important;
			button {
				margin:0 3px;
			}
			.multiple-wishlist {
				max-height: 165px;
				overflow: hidden;
				border: 2px solid #f2f2f2;
				border-radius: 25px;
				max-width: 474px;
				position: relative;
				textarea {
					max-height: 130px;
					border: none;
					position: relative;
					top: 0px;
					display: none;
					&:focus {
						outline: 0 none;
					}
				}
				.multi-show {
					display: table-cell;
					vertical-align: top;
					width: 57%;
					float: left;
					padding: 0px 15px;
					box-sizing: border-box;
					.show-input {
						text-align: left;
						padding: 10px;
						color: #bdbdbd;
						font-weight: normal;
					}
				}
				#bss-access-multiple {
					margin: 0;
					position: absolute;
					right: 1px;
					top: 1px;
					padding: 8px 30px;
				}
			}
		}
	}
}
.bss-fastorder-hidden {
	display: none !important;
}
.bss-mage-error[generated] {
	margin-top: 7px;
	color: #e02b27;
	font-size: 1.2rem;
}
#bss-content-option-product {
	#pagePopup {
		display: none;
		position: absolute;
		top: 30px;
		left: 30px;
		color: #111;
		font-weight: 600;
	}
	.bss-product-info {
		position: relative;
		padding:20px 20px 0;
	}
	#bss-fastorder-form-option {
		.bss-swatch-attribute-options {
			display: inline-table;
			vertical-align: middle;
			margin-top:0;
			width: 80%;
			text-align: left;
			.bss-swatch-option {
				width: 48px;
				height: 48px;
				padding: 13px 0px 0px!important;
				border-radius: 50%;
				box-sizing: border-box;
				border: none;
				margin-right:1px;
			}
		}
		.bss-swatch-attribute {
			border-top: 1px solid #f9f9f9;
			padding: 20px 30px 17px;
			&.color {
				border-bottom: 1px solid #f9f9f9;
			}
		}
		.bss-swatch-attribute-label {
			display: inline-table;
			vertical-align: middle;
			text-transform: uppercase;
			font-weight: 600;
			width:15%;
			padding-right:5px;
		}

		.control {
			ul {
				padding: 0;
				margin-bottom: 0;
				li {
					list-style: none;
				}
			}
		}
		#bss_configurablegridview {
            margin-bottom: 0;
			border-bottom: 1px solid #f2f2f2;
            position:relative;
		}
		.bss-product-option {
			position: relative;
			padding-top: 5px;
			.bss-fastorder-swatch {
				max-height: 190px;
				overflow: auto;
			}
			.reset-configurablegridview {
				position: absolute;
				top: 0;
			}
			>.field {
				>.label {
					font-weight: 600;
				}
			}
			>.field.required {
				>.label {
					&:after {
						content: '*';
						color: #e02b27;
						font-size: 1.2rem;
						margin: 0 0 0 5px;
					}
				}
				.legend {
					&:after {
						content: '*';
						color: #e02b27;
						font-size: 1.2rem;
						margin: 0 0 0 5px;
					}
				}
			}
			.field.required {
				.legend {
					font-weight: 600;
					font-size: 1.4rem;
					border: none;
					display: inline-block;
					float: none;
					margin: 0 0 8px;
					padding: 0;
				}
			}
			.bss-options-info {
				border-bottom: 1px solid #ccc;
				padding-bottom: 10px;
				margin-bottom: 10px;
				.legend {
					font-weight: 600;
					font-size: inherit;
					border-bottom: none;
				}
			}
		}
		.bss-box-button {
			text-align: center;
			width: 100%;
			padding-bottom: 19px;
			margin-top: -2px;
			.fieldset {
				margin:0 0 20px;
			}
			#bss-select-option {
				background: #1979c3;
				color: #fff;
			}
		}
		.total-area {
			margin-top: 10px;
            padding-bottom: 10px;
			.qty-total,
			.price-total {
				display: inline-block;
			}
			.price-total {
				display: inline-block;
				padding-left: 15px;
			}
		}
	}
	#bss-links-advice-container {
		display: none;
	}
	#bss-validation-message-box {
		display: none;
	}
	&.bss-configurable-grid-view-popup {
		width: 90%!important;
		padding: 0;
		max-height: 450px;
		box-sizing: border-box;
		max-width: 658px;
		#bss-fastorder-form-option {
			.bss-product-option {
				padding-top: 25px;
			}
		}
		.photo {
			max-height:135px;
		}
	}
	.product-name {
		font-weight: bold;
	}
	.price-box {
		margin: 7px 0;
	}
	.actions {
		button.primary {
			width: auto;
			line-height: 1.6rem;
			padding: 7px 15px;
			margin: 0 10px;
			font-size: 1.4rem;
		}
	}
	.next-previous {
		text-decoration: none;
		display: inline-block;
		padding: 8px 9px;
		position: absolute;
	}
	.previous {
		top: 40%;
		left: 5%;
	}
	.next {
		top: 40%;
		right: 5%;
	}
	#closePopup {
		position: absolute;
		right: 35px;
		cursor: pointer;
		color: #bfbfbf;

	}
}
td.bss-fastorder-row-name {
	ul {
		li {
			margin: 0;
		}
	}
}
.bss-swatch-attribute-label {
	font-weight: bold;
	position: relative;
}
.bss-swatch-attribute-label.required {
	padding-right: 10px;
}
.bss-swatch-attribute-label[data-required="1"] {
	&:before {
		content: '*';
		color: red;
		position: absolute;
		right: -11px;
		top: -2px;
		font-weight: bold;
		font-size: 1em;
	}
}
.bss-swatch-attribute-selected-option {
	color: #646464;
	padding-left: 17px;
	display:none;
}
.bss-swatch-attribute-options {
	margin-top: 10px;
	.bss-swatch-option-tooltip-layered {
		.title {
			width: 100%;
			height: 20px;
			position: absolute;
			bottom: -5px;
			left: 0;
			color: rgb(40, 40, 40);
			text-align: center;
			margin-bottom: 10px;
		}
	}
}
.bss-swatch-option {
	display: inline-block;
	padding: 1px 2px;
	min-width: 30px;
	max-width: 90px;
	height: 20px;
	margin: 0 5px;
	text-align: center;
	cursor: pointer;
	position: relative;
	border: 1px solid rgb(218, 218, 218);
	overflow: hidden;
	text-overflow: ellipsis;
	&:not(.disabled) {
		&:hover {
			outline: 1px solid #999;
			border: 1px solid #fff;
			color: #333;
		}
	}
}
.bss-swatch-option.text {
	background: #F2F2F2;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	padding: 4px 8px;
	min-width: 22px;
	margin-right: 7px;
}
.bss-swatch-option.selected {
	outline: 2px solid #FF5100;
	border: 1px solid #fff;
	color: #333;
}
.bss-swatch-option.text.selected {
	background-color: #FFF !important;
}
.clearfix {
	&:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}
.bss-swatch-attribute.size {
	.bss-swatch-option {
		background: rgb(240, 240, 240);
		color: rgb(148, 148, 148);
	}
	.bss-swatch-option.selected {
		color: black;
		background: #fff;
		border: 1px solid #fff;
	}
}
.bss-swatch-attribute.manufacturer {
	.bss-swatch-option {
		background: rgb(240, 240, 240);
		color: rgb(148, 148, 148);
	}
	.bss-swatch-option.selected {
		color: black;
		background: #fff;
		border: 1px solid #fff;
	}
}
.bss-swatch-option.image {
	&:not(.disabled) {
		&:hover {
			outline: 2px solid #FF5216;
			border: 1px solid #fff;
		}
	}
}
.total-price-tax {
	font-style: italic;
}
.bss-swatch-option.color {
	&:not(.disabled) {
		&:hover {
			outline: 2px solid #FF5216;
			border: 1px solid #fff;
		}
	}
}
.bss-swatch-option.disabled {
	cursor: default;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: -moz-linear-gradient(to left top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 46%, rgba(255,82,22,1) 47%, rgba(255,82,22,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 58%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0)), color-stop(43%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,1)), color-stop(47%,rgba(255,82,22,1)), color-stop(53%,rgba(255,82,22,1)), color-stop(54%,rgba(255,255,255,1)), color-stop(57%,rgba(255,255,255,1)), color-stop(58%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(to left top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(to left top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(to left top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to left top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
}
.bss-swatch-option-tooltip {
	max-width: 140px;
	max-height: 100%;
	min-height: 20px;
	min-width: 20px;
	position: absolute;
	padding: 5px;
	background: #fff;
	color: rgb(148, 148, 148);
	border: 1px solid #adadad;
	display: none;
	z-index: 999;
	text-align: center;
	.corner {
		left: 40%;
		position: absolute;
		bottom: 0;
		height: 8px;
		&:after {
			content: '';
			position: relative;
			top: 1px;
			left: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7.5px 0 7.5px;
			border-color: #fff transparent transparent transparent;
			font-size: 1px;
		}
		&:before {
			content: '';
			position: relative;
			top: 2px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 8.5px 0 8.5px;
			border-color: #adadad;
			font-size: 1px;
		}
	}
	.image {
		display: block;
		height: 130px;
		width: 130px;
		margin: 0 auto;
	}
	.title {
		max-width: 140px;
		min-height: 20px;
		max-height: 200px;
		color: rgb(40, 40, 40);
		text-align: center;
		display: block;
		overflow: hidden;
	}
}
.bss-swatch-option-tooltip-layered {
	.corner {
		left: 40%;
		position: absolute;
		bottom: 0;
		height: 8px;
		&:after {
			content: '';
			position: relative;
			top: 1px;
			left: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7.5px 0 7.5px;
			border-color: #fff transparent transparent transparent;
			font-size: 1px;
		}
		&:before {
			content: '';
			position: relative;
			top: 2px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 8.5px 0 8.5px;
			border-color: #adadad;
			font-size: 1px;
		}
	}
	.image {
		display: block;
		height: 130px;
		width: 130px;
		margin: 0 auto;
	}
	width: 140px;
	position: absolute;
	background: #fff;
	color: rgb(148, 148, 148);
	border: 1px solid #adadad;
	display: none;
	z-index: 999;
	left: -47px;
}
.bss-swatch-opt {
	margin: 20px 0;
}
.bss-swatch-more {
	display: inline-block;
	margin: 2px 0;
	text-decoration: none !important;
	position: static;
	z-index: 1;
}
.bss-swatch-option-link-layered {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	&:hover {
		>.bss-swatch-option-tooltip-layered {
			display: block;
		}
	}
}
.bss-swatch-visual-tooltip-layered {
	height: 160px;
	top: -170px;
}
.bss-swatch-textual-tooltip-layered {
	height: 30px;
	top: -40px;
}
.bss-swatch-option-disabled {
	&:after {
		content: '';
		position: absolute;
		width: 42px;
		height: 2px;
		background: red;
		transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);
		z-index: 995;
		left: -4px;
		top: 10px;
	}
	outline: none !important;
	cursor: default;
	border: 0;
}
.bss-fastorder-multiple-form {
	.action.tocart {
		display: none;
	}
}
@media only screen and (max-width: 639px) {
	.cms-fast-order {
		.table-wrapper {
			border:0;
		}
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) {
		display: block;
		width: 100%;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>thead>tr>th {
		display: none;
	}
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr,
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td,
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th,
	.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody,
	.table-wrapper .table:not(.totals):not(.table-comparison) tfoot {
		display: block;
	}
    .links.nav-fastorder-toggle .mini-fast-order-toggle .close-mini-fast-order {
     color: #000;
    }
    .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td {
         box-sizing: border-box;
    }
    .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-qty {
         display: table-cell;
         border-right: 0;
         border-left: 1px solid #eee;
    }
     .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-qty .product_qty {
         margin: 0;
    }
     .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-edit-delete {
         width: 1%;
    }
     #bss-fastorder-form tr.bss-row-error td:first-child {
         border-left: none !important;
    }
     #bss-fastorder-form tr.bss-row-error td.bss-fastorder-row-price {
         border-right: none !important;
    }
     .cms-fast-order .bss-grouped-popup .grouped {
         margin-left: 0 !important;
         margin-right: 0 !important;
         max-height: unset !important;
    }
     .cms-fast-order .bss-grouped-popup .grouped thead {
         display: table;
         width: 100%;
    }
     .cms-fast-order .bss-grouped-popup .grouped thead tr th {
         display: inline-table !important;
         margin: 10px 1%;
    }
     .cms-fast-order .bss-grouped-popup .grouped thead tr th.item {
         width: 69%;
    }
     .cms-fast-order .bss-grouped-popup .grouped thead tr th.qty {
         width: 26%;
    }
     .cms-fast-order .bss-grouped-popup .grouped > tbody {
         border-bottom: none !important;
    }
     .cms-fast-order .bss-grouped-popup .bss-box-button .actions {
         margin-bottom: 10px;
    }
     .cms-fast-order .total-price-tax {
         display: inline-block;
    }
     .cms-fast-order .page-main .panel-content-table {
         padding: 0 10px;
    }
     .cms-fast-order .page-main .panel-content-table .background-full {
         display: none;
    }
     .cms-fast-order .page-main .toolbar {
         margin: 23px auto 5px;
		 display:block;
    }
	.cms-fast-order .page-main .toolbar:before,
	.cms-fast-order .page-main .toolbar:after {
		content: '';
		display: table;
	}
	.cms-fast-order .page-main .toolbar:after {
		clear: both;
	}
     .cms-fast-order .page-main .toolbar .toolbar-sorter {
         float: left;
         margin-top: 0;
    }
     .cms-fast-order .page-main .toolbar .toolbar-sorter .text-toolber {
         margin-left: 10px;
         padding: 5px 10px;
    }
     .cms-fast-order .page-main .toolbar .toolbar-sorter.toolbar-sorter-template2 {
         float: right;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar {
         position: relative;
         width: 96% !important;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar .bss-search-input2 {
         width: 50px;
         position: absolute !important;
         left: 10px;
         padding: 23px 22px 23px 25px !important;
         border: 2px solid #f2f2f2 !important;
         background-color: #fff !important;
         background-position: 60% center !important;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar .bss-search-input2:focus {
         width: 100%;
         background-position: 92% center !important;
         z-index: 2;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar .bss-fastorder-autocomplete .content-search-fastorder {
         width: 100%;
         max-width: 100%;
         top: 50px;
         left: 10px;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar .bss-fastorder-autocomplete2 .content-search-fastorder {
         width: 100% !important;
    }
     .cms-fast-order .page-main .toolbar .bss-search-bar .bss-fastorder-autocomplete2 .content-search-fastorder .bss-product-name {
         padding-right: 27px;
    }
     .cms-fast-order .table-wrapper {
         border-top: none;
    }
     #bss-fastorder-form .foot1 button {
         padding: 15px 22px;
    }
     #bss-content-option-product {
         max-width: 278px;
    }
     #bss-content-option-product.bss-configurable-grid-view-popup {
         width: 100%;
         max-width: none;
    }
     #bss-fastorder-form .bss-search-input2 {
         margin-top: 0;
    }
     #bss-fastorder-form .bss-fastorder-row-qty .qty {
         width: 40px;
    }
     #bss-fastorder-form .bss-sample-csv {
         position: relative;
         top: 20px;
         padding: 0;
    }
     #bss-fastorder-form tfoot .foot1 {
         border-top: 1px solid #eee;
         border-bottom: 1px solid #eee;
    }
     #bss-fastorder-form tfoot .foot1 td:before {
         display: none;
    }
     #bss-fastorder-form tfoot .foot1 td.addtoline-template2 {
         display: none !important;
    }
     #bss-fastorder-form tfoot .foot1 td.totalqty-template2 {
         position: relative;
         vertical-align: top;
         padding: 20px 30px 15px;
         border-bottom: none;
    }
     #bss-fastorder-form tfoot .foot1 .add-to-line, #bss-fastorder-form tfoot .foot1 .total-qty-fastorder {
         width: 49%;
         display: inline-block;
         box-sizing: border-box;
         border: none;
    }
     #bss-fastorder-form tfoot .foot1 .add-to-line button, #bss-fastorder-form tfoot .foot1 .total-qty-fastorder button {
         margin-bottom: 0;
    }
     #bss-fastorder-form tfoot .foot1 .fill-line, #bss-fastorder-form tfoot .foot1 .subtotal-fastorder {
         width: 50%;
         display: inline-block;
         box-sizing: border-box;
         border: none;
    }
     #bss-fastorder-form tfoot .foot1 .subtotal-template2 {
         width: 100% !important;
    }
     #bss-fastorder-form tfoot .foot1 .add-to-line, #bss-fastorder-form tfoot .foot1 .fill-line {
         padding: 20px 30px 0px;
         vertical-align: top;
         border-bottom: none;
    }
     #bss-fastorder-form .bss-search-input {
         max-width: 100%;
    }
     #bss-fastorder-form .bss-search-input2 {
         max-width: 90%;
    }
     #bss-fastorder-form table.bss-fastorde-bottom {
         border: none;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td {
         width: 100%;
         display: block;
         box-sizing: border-box;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td .multiple-wishlist {
         position: relative;
         margin-bottom: 10px;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td .multiple-wishlist #bss-access-multiple {
         position: absolute;
         margin-top: 0;
         padding: 9.5px 30px;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td.multi-wishlist-bottom {
         padding: 0px 30px 65px 30px !important;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td.multi-wishlist-bottom .multi-show {
         padding: 0px 10px;
         width: 59%;
    }
     #bss-fastorder-form table.bss-fastorde-bottom tr td.all-add-button {
         padding: 20px 30px 10px 30px !important;
         border-top: 1px solid #eee;
    }
     #bss-fastorder-form table td.bss-fastorder-row-image {
         display: table-cell;
         width: 30%;
         border-bottom: 1px solid #eee;
    }
     #bss-fastorder-form table td {
         text-align: left;
         padding: 20px 30px 22px;
    }
     #bss-fastorder-form table td.bss-fastorder-row-edit-delete {
         display: table-cell;
         width: 20%;
         border-bottom: 1px solid #eee;
    }
     #bss-fastorder-form table td.bss-fastorder-row-edit-delete:before {
         display: none;
    }
     #bss-fastorder-form table td.bss-fastorder-row-qty {
         display: inline-block;
         width: 44.5%;
         border: none;
         box-sizing: border-box;
         border-right: 1px solid #eee;
    }
     #bss-fastorder-form table td.bss-fastorder-row-price {
         display: inline-table;
         width: 50%;
         border: none;
         position: relative;
         top: 0px;
         margin-left: 4%;
    }
     #bss-fastorder-form table td.bss-fastorder-row-ref {
         border-left: none;
         border-right: none;
         border-top: 1px solid #eeeeee;
         border-bottom: 1px solid #eee;
         width: 100%;
    }
     #bss-fastorder-form table td:before {
         color: #1979c3;
         text-transform: uppercase;
         font-weight: 500;
         padding-bottom: 10px;
         display: block;
         content: attr(data-th);
    }
     #bss-fastorder-form table td.bss-fastorder-row-name {
         display: table-cell;
         width: 50%;
         border-bottom: 1px solid #eee;
         box-sizing: border-box;
         padding-left: 0px;
         padding-right: 0px;
    }
     #bss-fastorder-form table td.bss-fastorder-row-name:before {
         display: none;
    }
     #bss-fastorder-form .bss-fastorder-row-image img {
         max-width: 100%;
    }
     #bss-fastorder-form .bss-fastorder-autocomplete .content-search-fastorder {
         width: 100%;
         max-width: 100%;
    }
     #bss-fastorder-form .desktop-tfoot {
         display: none;
    }
     .cms-fast-order .page-main .panel-content-table .bss-fastorder-multiple-form tr {
         border-bottom: 1px solid #eee;
         margin: 20px 0;
    }
     .cms-fast-order .page-main .panel-content-table .bss-fastorder-multiple-form tr td {
         border: none;
    }
}
@media only screen and (max-width: 320px) {
    #bss-fastorder-form table td {
        padding: 20px 10px 22px;
    }
    #bss-fastorder-form tfoot .add-to-line, #bss-fastorder-form tfoot .fill-line {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .b-mini-fastorder {
         padding-right: 0;
    }
    .links.nav-fastorder-toggle .mini-fast-order-toggle {
        top: 60px;
         left: 0px;
         max-height: 500px;
         overflow: scroll;
         right: auto;
         width: 98%;
    }
    .links.nav-fastorder-toggle .mini-fast-order-toggle .close-mini-fast-order {
         display: block;
    }
    .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form tfoot button.tocart, .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form .foot1 button.tocart {
         display: inline-block;
    }
    #bss-fastorder-form table thead .bss-fastorder-row {
         display: table-row;
    }
     #bss-fastorder-form .bss-fastorde-bottom tr td {
         text-align: left !important;
    }
     #bss-fastorder-form .bss-fastorder-autocomplete .content-search-fastorder {
         width: 100%;
    }
     #bss-content-option-product {
         overflow-x: auto !important;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-swatch-attribute {
         padding: 20px 0px;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-swatch-attribute-options {
         width: 77%;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-swatch-attribute-options .bss-swatch-option {
         width: 42px;
         height: 42px;
         padding: 10px 0px 0px !important;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-swatch-attribute-options .bss-swatch-option .reset-configurablegridview {
         top: -10%;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-swatch-attribute-selected-option {
         padding-left: 0;
    }
     #bss-content-option-product #bss-fastorder-form-option .bss-box-button {
         padding-bottom: 9px;
    }
     .cms-fast-order .desktop-tfoot {
         display: none !important;
    }
     .cms-fast-order .bss-grouped-popup table.grouped .item {
         padding: 13px 10px 13px 10px !important;
    }
     .cms-fast-order #bss-content-option-product {
         max-height: 420px !important;
    }
     .cms-fast-order .bss-grouped-popup {
         max-height: 420px;
    }
     .bss-fastorde-bottom tr td {
         width: auto;
         padding: 20px 10px !important;
    }
     .bss-fastorde-bottom .bss-fastorder-row-qty .qty {
         width: 30px;
    }
}
@media only screen and (min-width: 1440px) {
    #bss-content-option-product.bss-configurable-grid-view-popup {
         max-height: 864px;
    }
     #bss-content-option-product.bss-configurable-grid-view-popup .photo {
         max-height: 214px;
    }
     #bss-content-option-product #bss-fastorder-form-option #bss_configurablegridview {
         max-height: 300px;
    }
     #bss-fastorder-form .bss-fastorder-row-qty .qty {
         width: 40px;
    }
}
@media only screen and (min-width: 1024px) {
    #bss-fastorder-form table td {
         padding: 20px 30px;
    }
     #bss-fastorder-form .bss-fastorder-row-qty .qty {
         width: 35px;
    }
     .bss-fastorde-bottom tr td .multiple-wishlist .multi-show {
         width: 70%;
         padding: 0 25px;
    }
}
@media only screen and (min-width: 768px) {
    #bss-content-option-product.bss-configurable-grid-view-popup {
         max-height: 640px;
    }
     .bss-fastorder-form .mobile-tfoot {
         display: none !important;
    }
     .panel-content-table .bss-fastorder-multiple-form {
         border-right: 1px solid #eee;
		 margin-bottom: 0;
    }
     .panel-content-table .bss-fastorder-multiple-form thead, .panel-content-table .bss-fastorder-multiple-form tfoot {
         display: block;
    }
     .panel-content-table .bss-fastorder-multiple-form tbody {
         display: block;
         max-height: 621px;
         overflow-y: auto;
         overflow-x: hidden;
    }
     .panel-content-table .bss-fastorder-multiple-form tbody tr {
         display: table;
         width: 100%;
         table-layout: fixed;
    }
     .panel-content-table .bss-fastorder-multiple-form tbody tr .bss-fastorder-row-ref {
         width: 27%;
    }
     .panel-content-table .bss-fastorder-multiple-form tbody tr.foot1 {
         background: #f9f9f9 !important;
    }
     .panel-content-table .bss-fastorder-multiple-form tbody tr.foot1 .add-to-line {
         width: 27%;
    }
     .panel-content-table .bss-fastorder-multiple-form tfoot {
         width: 100%;
         display: table;
    }
     .panel-content-table .bss-fastorder-multiple-form tfoot td.add-to-line {
         width: 27%;
         border-right: none;
    }
     .panel-content-table .bss-fastorder-multiple-form tfoot td.fill-line {
         width: 40%;
         border-right: none;
         border-left: none;
    }
     .panel-content-table .bss-fastorder-multiple-form tfoot td.total-qty-fastorder {
         width: 13%;
         border-right: none;
         border-left: none;
    }
     .panel-content-table .bss-fastorder-multiple-form tfoot td.subtotal-fastorder {
         width: 20%;
         border-left: none;
    }
     .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-ref {
         width: 60%;
    }
     .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-edit-delete {
         width: 15%;
    }
     .links.nav-fastorder-toggle .mini-fast-order-toggle #bss-fastorder-form table td.bss-fastorder-row-qty {
         width: 25%;
    }
}