<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_QuoteExtension
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<form class="form methods-shipping" id="form-submit-quote"
      data-bind="submit: validateQuote, visible: showRequestButton" novalidate="novalidate" method="post">
    <ul class="checkout methods items checkout-methods-items">
        <li class="item">
            <button type="submit" class="action primary checkout btn btn-primary">
                <span><!-- ko i18n: 'Submit Quote Request'--><!-- /ko --></span>
            </button>
        </li>
    </ul>
</form>

<ul class="checkout methods items checkout-methods-items" data-bind="visible: showLoginButton">
    <li class="item">
        <button class="action primary checkout login btn btn-primary"
                data-bind="afterRender: setLoginModalEvents"
                data-mage-init='{"loginPopup":{}}'>
            <span><!-- ko i18n: 'Login to request a Quote'--><!-- /ko --></span>
        </button>
    </li>
</ul>
