<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyAccount
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/** @var $block \Bss\CompanyAccount\Block\SubUser\Edit */
?>

<form action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      autocomplete="off"
      id="form-validate"
      class="form sub-user-edit"
      data-mage-init='{"validation":{}}'>
    <?= $block->getBlockHtml('formkey') ?>
    <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
    <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <legend class="legend"><span><?= $block->escapeHtml(__('Sub-user Information')) ?></span></legend><br>
        <div class="field status required">
            <label class="label" for="status"><span><?= $block->escapeHtml(__('Status')) ?></span></label>
            <select class="input-text status"
                    name="sub_status"
                    id="status"
                    data-validate="{required:true}">
                <?= $block->getEnableDisableOptions() ?>
            </select>
        </div>
        <div class="field sub-name required">
            <label for="sub-user-name" class="label">
                <span><?= $block->escapeHtml(__('Sub-user Name')) ?></span>
            </label>
            <input type="text"
                   name="sub_name"
                   id="sub-user-name"
                   class="input-text sub-name"
                    value="<?= $block->getSubUser()->getSubUserName() ?>"
                   placeholder="<?= $block->escapeHtmlAttr(__('Enter sub-user name')) ?>"
                   data-validate="{required:true}"/>
        </div>
        <div class="field sub-email required">
            <label for="sub-user-email" class="label">
                <span><?= $block->escapeHtml(__('Sub-user Email')) ?></span>
            </label>
            <input type="text"
                   name="sub_email"
                   id="sub-user-email"
                   <?= $block->isDisabledEmail() ? 'disabled' : '' ?>
                   class="input-text sub-email"
                   value="<?= $block->getSubUser()->getSubUserEmail() ?>"
                   placeholder="<?= $block->escapeHtmlAttr(__('Enter sub-user email')) ?>"
                   data-validate="{required:true, 'validate-email':true, 'remote':'<?= $block->getValidateUniqueSubMailUrl() ?>'}" />
        </div>
        <div class="field sub-role required">
            <label for="sub-user-role" class="label">
                <span><?= $block->escapeHtml(__('Role')) ?></span>
            </label>
            <select name="role_id"
                   id="sub-user-role"
                   class="input-text sub-role"
                    data-validate="{required:true}">
                <?= $block->getRoleOptions() ?>
            </select>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="secondary float-left padding-left-right-15">
            <a class="action btn btn-secondary btn-xs back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>" title="<?= $block->escapeHtmlAttr('Back') ?>">
                <span>
                    <i class="material-icons">keyboard_arrow_left</i>
                    <?= $block->escapeHtmlAttr('Back') ?>
                </span>
            </a>
        </div>
        <div class="primary">
            <button type="submit" class="action submit primary btn-primary btn" title="<?= $block->escapeHtml(__('Save Sub-user')) ?>">
                <span><?= $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_CompanyAccount/js/sub-user/sub-user-edit": {}
        }
    }
</script>
