<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerAttributes
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/** @var \Magento\Customer\Block\Address\Book $block */
/** @var $viewModel \Bss\CustomerAttributes\ViewModel\Address\CustomAddressHelper */
// @codingStandardsIgnoreFile
?>

<?php $viewModel = $block->getViewModel(); ?>
<?php $attributeHelper = $viewModel->getAttributeHelper();?>

<div class="row">
    <div class="block block-addresses-default col-sm-6 col-xs-12">
        <div class="block-content">
            <?php if ($_pAddsses = $block->getDefaultBilling()): ?>
                <div class="box box-address-billing">
                    <div class="block-title--myac">
                        <h3>
                            <?php /* @escapeNotVerified */ echo __('Default Billing Address') ?>
                        </h3>
                    </div>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </address>
                        <?php if ($attributeHelper->isEnable() && $viewModel->getBillingAddressAttribute()!== null): ?> 
                        <?php  foreach ($attributeHelper->getAddressCollection() as $customAddress): ?> 
                            <?php   
                            $fieldValue = '';   
                            $customAttributeCode = $customAddress->getAttributeCode();  
                            if ($viewModel->getBillingAddressAttribute()->getCustomAttribute($customAttributeCode)!==null) {    
                                $fieldValue = $viewModel->getBillingAddressAttribute()->getCustomAttribute($customAttributeCode)->getValue();   
                            } elseif ($customAddress->getDefaultValue()) {  
                                $fieldValue = $customAddress->getDefaultValue();    
                            }   
                            $optionValue =  $attributeHelper->getValueAddressAttributeOption($customAttributeCode, $fieldValue);    
                            if ($optionValue) { 
                                $fieldValue = $optionValue === 'file' ? $attributeHelper->getFileName($fieldValue) : $optionValue;  
                            }   
                            if ($customAddress->getFrontendInput() == 'date'){  
                                $fieldValue = $attributeHelper->formatDateTime($fieldValue);    
                            }   
                            ?>  
                            <?php if ($attributeHelper->isAddressShowInBook($customAddress->getAttributeCode()) &&  
                                $fieldValue!=='' &&  $attributeHelper->isVisible($customAddress->getAttributeCode())):?>    
                                <div class="field custom_attribute">    
                                    <?= $customAddress->getStoreLabel($attributeHelper->getStoreId()) . ': ' . $fieldValue ?>   
                                </div>  
                            <?php endif; ?> 
                        <?php endforeach; ?>    
                    <?php endif; ?>
                        <div>
                            <a class="action btn btn-xs btn-secondary edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>">
                                <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                            </a>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="box box-billing-address">
                    <div class="block-title--myac">
                        <h3>
                            <?php /* @escapeNotVerified */ echo __('Default Billing Address') ?>
                        </h3>
                    </div>
                    <div class="box-content">
                        <p><?php /* @escapeNotVerified */ echo __('You have no default billing address in your address book.') ?></p>
                    </div>
                </div>
            <?php endif ?>

            <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
                <div class="box box-address-shipping" style="margin-top: 30px;">
                    <div class="block-title--myac">
                        <h3>
                            <?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?>
                        </h3>
                    </div>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </address>
                        <?php if ($attributeHelper->isEnable() && $viewModel->getShippingAddressAttribute()!== null): ?>    
                        <?php  foreach ($attributeHelper->getAddressCollection() as $customAddress): ?> 
                            <?php   
                            $fieldValue = '';   
                            $customAttributeCode = $customAddress->getAttributeCode();  
                            if ($viewModel->getShippingAddressAttribute()->getCustomAttribute($customAttributeCode)!==null) {   
                                $fieldValue = $viewModel->getShippingAddressAttribute()->getCustomAttribute($customAttributeCode)->getValue();  
                            } elseif ($customAddress->getDefaultValue()) {  
                                $fieldValue = $customAddress->getDefaultValue();    
                            }   
                            $optionValue =  $attributeHelper->getValueAddressAttributeOption($customAttributeCode, $fieldValue);    
                            if ($optionValue) { 
                                $fieldValue = $optionValue === 'file' ? $attributeHelper->getFileName($fieldValue) : $optionValue;  
                            }   
                            if ($customAddress->getFrontendInput() == 'date'){  
                                $fieldValue = $attributeHelper->formatDateTime($fieldValue);    
                            }   
                            ?>  
                            <?php if ($attributeHelper->isAddressShowInBook($customAddress->getAttributeCode()) &&  
                                $fieldValue!=='' &&  $attributeHelper->isVisible($customAddress->getAttributeCode())):?>    
                                <div class="field custom_attribute">    
                                    <label class="label"><span><?= $customAddress->getStoreLabel($attributeHelper->getStoreId()) . ': ' . $fieldValue ?></label>    
                                </div>  
                            <?php endif; ?> 
                        <?php endforeach; ?>    
                    <?php endif; ?>
                        <a class="action btn btn-secondary btn-xs edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                        </a>
                    </div>
                </div>
            <?php else: ?>
                <div class="box box-shipping-address" style="margin-top: 30px;">
                    <div class="block-title--myac">
                        <h3>
                            <?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?>
                        </h3>
                    </div>
                    <div class="box-content">
                        <p><?php /* @escapeNotVerified */ echo __('You have no default shipping address in your address book.') ?></p>
                    </div>
                </div>
            <?php endif ?>
        </div>
    </div>

    <div class="block block-addresses-list col-sm-6 col-xs-12">
        <div class="block-title--myac"><h3><?php /* @escapeNotVerified */ echo __('Additional Address Entries') ?></h3></div>
        <div class="block-content">
            <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
                <ol class="items addresses">
                    <?php foreach ($_pAddsses as $_address): ?>
                        <li class="item">
                            <address>
                                <?php echo $block->getAddressHtml($_address) ?><br />
                            </address>
                            <div class="item actions">
                                <a class="action edit btn btn-xs btn-primary" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $_address->getId()]) ?>"><span><?php /* @escapeNotVerified */ echo __('Edit') ?></span></a>
                                <a class="action delete btn btn-xs btn-secondary" href="#" role="delete-address" data-address="<?php /* @escapeNotVerified */ echo $_address->getId() ?>"><span><?php /* @escapeNotVerified */ echo __('Delete') ?></span></a>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ol>
            <?php else: ?>
                <p class="empty"><?php /* @escapeNotVerified */ echo __('You have no other address entries in your address book.') ?></p>
            <?php endif ?>
        </div>
    </div>
</div>
<hr>
<div class="actions-toolbar">
    <div class="primary">
        <button type="button" role="add-address" title="<?php /* @escapeNotVerified */ echo __('Add New Address') ?>" class="action btn btn-primary add"><span><?php /* @escapeNotVerified */ echo __('Add New Address') ?></span></button>
        <a class="action margin-left10 btn btn-secondary back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */ echo __('Back') ?></span></a>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "li.item a[role='delete-address']",
                "deleteUrlPrefix": "<?php /* @escapeNotVerified */ echo $block->getDeleteUrl() ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?php /* @escapeNotVerified */ echo $block->getAddAddressUrl() ?>"
            }
        }
    }
</script>
