<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerAttributes
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/** @var \Magento\Customer\Block\Address\Edit $block */
/** @var $viewModel \Bss\CustomerAttributes\ViewModel\Address\CustomAddressHelper */
// @codingStandardsIgnoreFile

?>

<?php $viewModel = $block->getViewModel(); ?>
<?php $attributeHelper = $viewModel->getAttributeHelper();?>
<?php $attributeCollection = $attributeHelper->getAddressCollection(); ?>
<?php $hasField = false; ?>
<?php
$addressEntityType = 'customer_address';
?>

<!--        Custom Address Attributes-->
<?php if ($attributeCollection->getSize() > 0) : ?>
    <fieldset class="fieldset info">
        <!-- For all user defined attributes -->
        <?php foreach ($attributeCollection as $attribute) :?>
            <!-- For all user defined attributes which are set for customer edit account  -->
            <?php if ($attributeHelper->isAddressShowInBook($attribute->getAttributeCode()) &&
                $attributeHelper->isVisible($attribute->getAttributeCode())):?>
                <?php if (!$hasField):?>
                    <?php $hasField = true; ?>
                    <h2><span><?php echo $attributeHelper->getTitle() ?></span></h2>
                <?php endif ?>

                <?php $frontEndLabel = $attribute->getStoreLabel($attributeHelper->getStoreId()); ?>
                <?php $getAttributeCodeFunction = "get" . str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
                <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
                <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
                <?php
                $fieldValue = '';
                if ($block->getAddress()->getCustomAttribute($attribute->getAttributeCode())!==null) {
                    $fieldValue = $block->getAddress()->getCustomAttribute($attribute->getAttributeCode())->getValue();
                } elseif ($attribute->getDefaultValue()) {
                    $fieldValue = $attribute->getDefaultValue();
                }
                ?>
                <?php if ($attribute->getFrontendInput()== 'text'):?>

                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'textarea'):?>

                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <textarea class="textarea" cols="15" rows="2" title="<?php echo __($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>><?php echo $block->escapeHtml($fieldValue); ?></textarea>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'date'):?>
                    <?php
                    if ($fieldValue) {
                        $date = date_create($fieldValue);
                        $date = date_format($date, 'm/d/Y');
                    } else {
                        $date = "";
                    }
                    ?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" class="input-text" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($date) ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>>
                            <script type="text/x-magento-init">
                        {
                            "#<?php echo $attribute->getAttributeCode(); ?>": {
                                "Bss_CustomerAttributes/js/date": {
                                }
                            }
                        }
                    </script>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'boolean'):?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAddressAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                                        echo ' selected="selected"';
                                    } ?>><?php echo $option['label']->getText();?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'radio'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>" id="<?php echo $attribute->getAttributeCode() ?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php $options = $attributeHelper->getAddressAttributeOptions($attribute->getAttributeCode());?>
                            <?php foreach ($options as $option):?>
                                <?php if (!$option['value']) {
                                    continue;
                                } ?>
                                <div class="field choice">
                                    <input type="radio"
                                           class="radio <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode() . $option['value']; ?>"
                                        <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                        <?php if ($option['value'] == $fieldValue) {
                                            echo ' checked="checked"';
                                        } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode() . $option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'select'):?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAddressAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                                        echo ' selected="selected"';
                                    } ?>><?php echo $option['label'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'multiselect'):?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo __($frontEndLabel); ?>"  class="multiselect" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAddressAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                                    <?php if (!$option['value'] || !$option['label']) {
                                        continue;
                                    } ?>
                                    <option value="<?php echo $option['value'] ?>"
                                        <?php if (in_array($option['value'], $selectedOptions)) {
                                            echo ' selected="selected"';
                                        } ?>>
                                        <?php echo $option['label'];?>
                                    </option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'checkboxs'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php $options = $attributeHelper->getAddressAttributeOptions($attribute->getAttributeCode());?>
                            <?php foreach ($options as $option):?>
                                <?php if (!$option['value']) {
                                    continue;
                                } ?>
                                <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                                <div class="field choice">
                                    <input type="checkbox"
                                           class="checkbox <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode() . $option['value']; ?>"
                                        <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>[]"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                        <?php if (in_array($option['value'], $selectedOptions)) {
                                            echo ' checked="checked"';
                                        } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode() . $option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'file'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
                    <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel); ?></span></label>
                        <div class="control">
                            <?php $checkFile = 0; ?>
                            <?php if ($fieldValue):?>
                                <div class="cusstomer-images">
                                    <?php if (preg_match("/\.(gif|png|jpg)$/", $fieldValue)) : ?>
                                        <?php $checkFile = 1; ?>
                                        <?php if ($attributeHelper->getConfig("bss_customer_attribute/general/allow_download_file")) : ?>
                                            <a href="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType); ?>" target="_blank">
                                        <?php endif; ?>
                                        <img src="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType); ?>" alt="<?php echo $attributeHelper->getFileName($fieldValue); ?>" width="200" />
                                        <?php if ($attributeHelper->getConfig("bss_customer_attribute/general/allow_download_file")) : ?>
                                            </a>
                                        <?php endif; ?>
                                    <?php elseif (preg_match("/\.(mp4|3gb|mov|mpeg)$/", $fieldValue)) : ?>
                                        <?php $checkFile = 1; ?>
                                        <video width="400" controls  <?php if (!$attributeHelper->getConfig("bss_customer_attribute/general/allow_download_file")) : ?>
                                            controlsList="nodownload"
                                        <?php endif; ?>
                                        >
                                            <source src="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType) ?>" type="video/mp4">
                                            <source src="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType) ?>" type="video/ogg">
                                            Your browser does not support HTML5 video.
                                        </video>
                                    <?php elseif (preg_match("/\.(mp3|ogg|wav)$/", $fieldValue)) : ?>
                                        <?php $checkFile = 1; ?>
                                        <audio controls <?php if (!$attributeHelper->getConfig("bss_customer_attribute/general/allow_download_file")) : ?> controlsList="nodownload" <?php endif; ?>>
                                            <source src="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType) ?>" type="audio/mpeg">
                                            <source src="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType) ?>" type="audio/ogg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    <?php else : ?>
                                        <?php $checkFile = 1; ?>
                                        <a href="<?php echo $attributeHelper->getViewFile($fieldValue, $addressEntityType) ?>" <?php if (!$attributeHelper->getConfig("bss_customer_attribute/general/allow_download_file")) : ?>
                                            class="disabled"<?php endif; ?>
                                           target="_blank"
                                        >
                                            <?php echo $attributeHelper->getFileName($fieldValue); ?>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                            <input type="file" id="<?php echo $attribute->getAttributeCode() ?>" name="<?= /* @escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                   value="" <?php if ($checkFile == 0) : ?>
                                <?php echo $fieldRequiredClass; endif; ?>
                                   class="input-file <?php echo $attribute->getAttributeCode() . "size" ?> <?php echo $attribute->getAttributeCode() . "extension" ?> ">
                            <?php $getDataCustomerAttributes = $attributeHelper->getDataCustomerAttributes($attribute); ?>
                            <script type="text/x-magento-init">
                            {
                            "#<?php echo $attribute->getAttributeCode(); ?>": {
                                "Bss_CustomerAttributes/js/file": {
                                "fileSize" : "<?= $getDataCustomerAttributes['fileSize'] ?>",
                                "fileExtension" : "<?= $getDataCustomerAttributes['fileExtension']; ?>",
                                "validatorSize" : "<?= $getDataCustomerAttributes['validatorSize'];?>",
                                "validatorExtensions" : "<?= $getDataCustomerAttributes['validatorExtensions']; ?>",
                                "id" : "<?= $attribute->getAttributeCode(); ?>"
                                    }
                                }
                            }
                            </script>
                            <input type="hidden" id="<?php echo $attribute->getAttributeCode() ?>_value" name="<?= /* @escapeNotVerified */ $attribute->getAttributeCode() ?>_value" value="<?= /* @escapeNotVerified */ $block->escapeHtml($attributeHelper->getViewFile($fieldValue, $addressEntityType)) ?>" <?php if ($attribute->getIsRequired()): ?>data-validate="{required:true}" <?php endif;?>/>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach;?>
    </fieldset>
<?php endif; ?>

<!-- End custom Address Attribute-->
