<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerAttributes
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
/** @var $viewModel \Bss\CustomerAttributes\ViewModel\Address\CustomAddressHelper */
// @codingStandardsIgnoreFile
?>
<?php $viewModel = $block->getViewModel(); ?>
<?php $attributeHelper = $viewModel->getAttributeHelper();?>

<div class="block block-dashboard-addresses my-account-main">
    <div class="block-title--myac">
        <h3><span><?php /* @escapeNotVerified */ echo __('Address Book') ?></span>
        </h3>
    </div>
    <div class="block-content row">
        <div class="box box-billing-address col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="account-sub-title"><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></h4>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryBillingAddressHtml() ?>
                </address>
                <?php if ($attributeHelper->isEnable() && $viewModel->getBillingAddressAttribute()!== null): ?> 
                    <?php  foreach ($attributeHelper->getAddressCollection() as $customAddress): ?> 
                        <?php   
                        $fieldValue = '';   
                        $customAttributeCode = $customAddress->getAttributeCode();  
                        if ($viewModel->getBillingAddressAttribute()->getCustomAttribute($customAttributeCode)!==null) {    
                            $fieldValue = $viewModel->getBillingAddressAttribute()->getCustomAttribute($customAttributeCode)->getValue();   
                        } elseif ($customAddress->getDefaultValue()) {  
                            $fieldValue = $customAddress->getDefaultValue();    
                        }   
                        $optionValue =  $viewModel->getAttributeHelper()->getValueAddressAttributeOption($customAttributeCode, $fieldValue);    
                        if ($optionValue) { 
                            $fieldValue = $optionValue === 'file' ? $attributeHelper->getFileName($fieldValue) : $optionValue;  
                        }   
                        if ($customAddress->getFrontendInput() == 'date'){  
                            $fieldValue = $attributeHelper->formatDateTime($fieldValue);    
                        }   
                        ?>  
                        <?php if ($attributeHelper->isAddressShowInBook($customAddress->getAttributeCode()) &&  
                            $fieldValue!=='' && $attributeHelper->isVisible($customAddress->getAttributeCode())):?> 
                            <div class="field custom_attribute">    
                                <label class="label"><span><?= $customAddress->getStoreLabel($attributeHelper->getStoreId()) . ': ' . $fieldValue ?></label>    
                            </div>  
                        <?php endif; ?> 
                    <?php endforeach; ?>    
                <?php endif; ?>
            </div>
            <div class="box-actions">
                <a class="action edit  btn btn-sm btn-default" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryBillingAddressEditUrl() ?>" data-ui-id="default-billing-edit-link"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
            </div>
        </div>
        <div class="box box-shipping-address col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="account-sub-title"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></h4>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryShippingAddressHtml() ?>
                </address>
                <?php if ($attributeHelper->isEnable() && $viewModel->getShippingAddressAttribute()!== null): ?>    
                    <?php  foreach ($attributeHelper->getAddressCollection() as $customAddress): ?> 
                        <?php   
                        $fieldValue = '';   
                        $customAttributeCode = $customAddress->getAttributeCode();  
                        if ($viewModel->getShippingAddressAttribute()->getCustomAttribute($customAttributeCode)!==null) {   
                            $fieldValue = $viewModel->getShippingAddressAttribute()->getCustomAttribute($customAttributeCode)->getValue();  
                        } elseif ($customAddress->getDefaultValue()) {  
                            $fieldValue = $customAddress->getDefaultValue();    
                        }   
                        $optionValue =  $viewModel->getAttributeHelper()->getValueAddressAttributeOption($customAttributeCode, $fieldValue);    
                        if ($optionValue) { 
                            $fieldValue = $optionValue === 'file' ? $attributeHelper->getFileName($fieldValue) : $optionValue;  
                        }   
                        if ($customAddress->getFrontendInput() == 'date'){  
                            $fieldValue = $attributeHelper->formatDateTime($fieldValue);    
                        }   
                        ?>  
                        <?php if ($attributeHelper->isAddressShowInBook($customAddress->getAttributeCode()) &&  
                            $fieldValue!=='' && $attributeHelper->isVisible($customAddress->getAttributeCode())):?> 
                            <div class="field custom_attribute">    
                                <label class="label"><span><?= $customAddress->getStoreLabel($attributeHelper->getStoreId()) . ': ' . $fieldValue ?></label>    
                            </div>  
                        <?php endif; ?> 
                    <?php endforeach; ?>    
                <?php endif; ?>
            </div>
            <div class="box-actions">
                <a class="action edit  btn btn-sm btn-default" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryShippingAddressEditUrl() ?>" data-ui-id="default-shipping-edit-link"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
            </div>
        </div>
    </div>
    <div class="margin-top20">
        <a class="action btn btn-secondary edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressBookUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Manage Addresses') ?></span></a>
    </div>
</div>
